# Servidor

PORT=
JWT_SECRET=

# Base de datos Turso

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# This was inserted by `prisma init`:

# Environment variables declared in this file are NOT automatically loaded by Prisma.

# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun

# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

# Admin user

ADMIN_USER_NAME
ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=
